{% import "account.html" as account %}
{% extends "account.html" %}

{% block menu %}
{{ account::menu(selected="Integrations") }}
{% endblock menu %}

{% block rightPanel %}
<h2 class="text-xl font-bold">Интеграции</h2>

<div class="divider"></div>

<div class="flex mt-3 flex-col gap-2 h-full justify-start">
	{{ self::block(
		product="Discord",
		integration_id=user.account.integrations.discord_user_id,
		notice="Ваш аккаунт автоматически привязывается при первом входе.",
		image_url="/public/images/discord.svg",
		image_alt="Логотип Discord")
	}}

	{{ self::block(
		product="Space Station 14",
		integration_id=user.account.integrations.ss14_guid,
		notice="Привязать аккаунт можно в настройках игры, зайдя на один из наших серверов.",
		image_url="/public/images/ss14.svg",
		image_alt="Логотип Space Station 14")
	}}

	{{ self::block(
		product="BYOND",
		integration_id=user.account.integrations.byond_ckey,
		notice="Привязать аккаунт можно зайдя на один из наших серверов и использовав верб <code>OOC -> Connect Account</code>.",
		image_url="/public/images/byond.png",
		image_alt="Логотип BYOND")
	}}
</div>
{% endblock rightPanel %}

{% macro block(product, integration_id, notice, image_url, image_alt) %}
<div class="bordered border-[1px] rounded-md w-full">
	<div class="p-2 rounded-md bg-neutral flex items-center gap-2">
		<img alt="{{ image_alt }} height="32px" width="32px" src="{{ image_url }}" />
		<div class="flex flex-col">
			<div>{{ product }}</div>
			<span class="text-tip">{{ integration_id | default(value="Не привязан") }}</span>
		</div>
	</div>
	
	<hr class="m-0 w-full">
	
	<div class="p-2 flex">
		<span class="text-tip">{{ notice | safe }}</span>
	</div>
</div>
{% endmacro block %}
