{% import "account.html" as account %}
{% extends "account.html" %}

{% block menu %}
{{ account::menu(selected="Sessions") }}
{% endblock menu %}

{% block rightPanel %}
<h2 class="text-xl font-bold">Активные сессии</h2>

<div class="divider"></div>

<form autocomplete="off" method="post" class="flex mt-3 gap-2 flex-col h-full">
	{{ forms::csrf() }}
	{% for session in sessions %}
	<div class="p-2 w-full flex items-center rounded-md border-[1px]">
		<div class="w-full">
			<div class="w-full">
				{% if session.os is starting_with("Window") %}
				<i class="fa-brands fa-windows"></i>
				{% elif session.os is starting_with("Mac OS") %}
				<i class="fa-brands fa-apple"></i>
				{% elif session.os is starting_with("iOS") %}
				<i class="fa-brands fa-apple"></i>
				{% elif session.os is starting_with("Linux") %}
				<i class="fa-brands fa-linux"></i>
				{% elif session.os is starting_with("Android") %}
				<i class="fa-brands fa-android"></i>
				{% endif %}
				<span>{{ session.os }}</span>

				•

				{% if session.browser is starting_with("Edge") %}
				<i class="fa-brands fa-edge"></i>
				{% elif session.browser is starting_with("Firefox") %}
				<i class="fa-brands fa-firefox-browser"></i>
				{% elif session.browser is starting_with("Opera") %}
				<i class="fa-brands fa-opera"></i>
				{% elif session.browser is starting_with("Chrom") %}
				<i class="fa-brands fa-chrome"></i>
				{% elif session.browser is starting_with("Yandex") %}
				<i class="fa-brands fa-yandex"></i>
				{% endif %}
				<span>{{ session.browser }}</span>
			</div>

			<div class="text-tip">{{ session.ip }}</div>

			<div class="text-tip">Создана:
				<relative-time datetime="{{ session.created_at }}" prefix="">
					{{ session.created_at | date(format="%d.%m.%Y %H:%M") }}
				</relative-time>
			</div>
			<div class="text-tip">Истекает:
				<relative-time datetime="{{ session.expiration }}" prefix="">
					{{ session.expiration | date(format="%d.%m.%Y %H:%M") }}
				</relative-time>
			</div>
		</div>
	</div>
	{% endfor %}

	<button type="submit" name="action" value="all" class="btn btn-error mt-auto ml-auto">Завершить все</button>
</form>
{% endblock rightPanel %}
