{% import "controls.html" as controls %}
{% import "forms.html" as forms %}

{% extends "base.html" %}
{% block title %}Аккаунт{% endblock title %}

{% block body %}

{% set main_role = user.account.roles | main_role %}

<div class="content gap-5 flex flex-col items-center justify-center">
	<div class="w-1/2 min-w-fit max-w-prose flex flex-row rounded-md bordered">
		<div id="leftPanel" class="gap-2 flex flex-col items-center justify-center border-r">
			<div class="flex flex-col gap-1 items-center justify-center border-b p-2">
				<div>
					<span class="font-bold" style="color: {{ main_role.color }};">{{ user.account.username }}</span>
				</div>

				{{ controls::userAvatar(src=user.account.avatar_url, id="userAvatar") }}

				<div class="flex flex-col items-center justify-center">
					<div class="flex gap-0.5 justify-center flex-wrap">
						{% for role in user.account.roles %}
						{{ controls::roleBadge(role=role) }}
						{% endfor %}
					</div>
					<span class="text-sm text-center">Дата регистрации: <span class="font-bold text-white">{{
							user.account.created_at | date(format="%d.%m.%Y") }}</span></span>
				</div>
			</div>

			<div id="accountMenu" class="w-full p-2">
				{% block menu %}{% endblock menu %}
			</div>
		</div>
		<div id="rightPanel" class="flex flex-col w-full p-4">
			{% block rightPanel %}{% endblock rightPanel %}
		</div>
	</div>
</div>
{% endblock body %}

{% macro menu(selected) %}
	<ul class="menu">
		<li class="{% if selected == "Profile" %} selected {% endif %}">
		<a href="profile"><i class="fa-solid fa-user"></i> Профиль</a>
		</li>
		<li class="{% if selected == "Notifications" %} selected {% endif %}">
		<a href="notifications"><i class="fa-solid fa-envelope"></i> Уведомления</a>
		</li>
		<li class="{% if selected == "Integrations" %} selected {% endif %}">
		<a href="integrations"><i class="fa-solid fa-cubes-stacked"></i> Интеграции</a>
		</li>
		<li class="{% if selected == "Sessions" %} selected {% endif %}">
		<a href="sessions"><i class="fa-solid fa-pager"></i> Сессии</a>
		</li>
	</uL>
	
	<hr />
	
	<ul class="menu">
		<li class="{% if selected == "Tokens" %} selected {% endif %}">
		<a href="tokens"><i class="fa-solid fa-key"></i> Токены</a>
		</li>
		<li class="{% if selected == "Journal" %} selected {% endif %}">
		<a href="journal"><i class="fa-solid fa-scroll"></i> Журнал</a>
		</li>
	</ul>
{% endmacro menu %}
