{% extends "base.html" %}
{% block title %}Хаб - Вход{% endblock title %}

{% block body %}
<div class="hero min-h-screen">
	<div class="hero-content text-center">
		<div class="max-w-lg">
			<h1 class="text-2xl font-bold mb-4">Аутентификация</h1>
			<form action="/api/auth?redirect=/" class="tokenForm gap-4 flex flex-col items-center justify-center"
				id="authForm" method="post">
				<div class="secret" id="secretInputs">
					<input autocomplete="off" class="input input-bordered input-single" id="firstInput" maxlength="1"
						type="text" />
					<input autocomplete="off" class="input input-bordered input-single" maxlength="1" type="text" />
					<input autocomplete="off" class="input input-bordered input-single" maxlength="1" type="text" />
					<input autocomplete="off" class="input input-bordered input-single" maxlength="1" type="text" />
					<input autocomplete="off" class="input input-bordered input-single" maxlength="1" type="text" />
				</div>

				<div id="errorMessage" hidden="hidden" class="text-error">Test!</div>
				<button class="btn btn-primary w-full" type="submit">Войти</button>

				<em class="text-tip">Для доступа к хабу необходимо
					ввести
					выше
					временный токен, выдаваемый ботом {{ bot.name }}#{{ bot.discriminator }} по команде "!2fa" в
					дискорде.</em>
			</form>
		</div>
	</div>
</div>

<script>
	function handleInput(ev) {
		ev.preventDefault()

		ev.target.value = ev.target.value.toUpperCase()
		ev.target.nextElementSibling?.focus()
	}

	function handlePaste(ev) {
		ev.preventDefault()

		let text = ev.clipboardData.getData('text/plain').trim()

		if (text === '') {
			return;
		}

		let isFirst = ev.target.id === 'firstInput'
		let el;

		if (!isFirst) {
			el = document.querySelector('#firstInput')
		} else {
			el = ev.target
		}

		let symbolIndex = 0
		while (el !== null && symbolIndex < text.length) {
			el.value = text[symbolIndex]
			el = el.nextElementSibling
			symbolIndex++
		}
	}

	async function handleSubmit(ev) {
		ev.preventDefault()

		const inputs = document.querySelector("#secretInputs")
		let tfa_secret = []

		for (const child of inputs.children) {
			tfa_secret.push(child.value)
		}

		tfa_secret = tfa_secret.join('')
		const response = await fetch('/api/auth', {
			method: 'POST',
			mode: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				tfa_secret
			}),
		})

		if (!response.ok) {
			const reason = await response.json()
			const errorText = document.querySelector("#errorMessage")

			errorText.innerText = `Ошибка при попытке авторизоваться! ${reason}`
			errorText.hidden = false

			return;
		}

		let url = new URLSearchParams(location.search)
		let newLocation = url.get('redirect_to')

		location.href = newLocation === null ? '/' : newLocation
	}

	document.querySelectorAll(".secret input").forEach(el => {
		el.addEventListener("input", handleInput)
		el.addEventListener("paste", handlePaste)
	})

	document.querySelector("#authForm").addEventListener("submit", handleSubmit)
</script>
{% endblock body %}
