{% import "helpers.html" as helpers %}


{% macro roleBadge(role) %}
	<div class="badge border-white/10 rounded-md">
		<span class="badge badge-xs mr-1" style="background-color: {{role.color}};"></span>
		<span>{{ role.name }}</span>
	</div>
{% endmacro roleBadge %}

{% macro image(src, alt, altImage="", style="", class="", id="") %}
    <img
		{% if class != "" %} class="{{ class }}" {% endif %}
		{% if style != "" %} style="{{ style }}" {% endif %}
		{% if altImage != "" %} data-alt-image="{{ altImage }}" {% endif %}
		{% if id != "" %} id="{{ id }}" {% endif %}
		alt="{{ alt }}"
		src="{{ src }}"
    />
{% endmacro image %}

{% macro userAvatar(src, id="") %}
	<div class="avatar">
		<div class="rounded-lg">
			{{ controls::image(src=src, alt="Аватар пользователя", altImage="/public/images/avatar.png", style="width: 8rem;", id=id) }}
		</div>
	</div>
{% endmacro userAvatar %}

{% macro navbar(selected) %}
	<div class="navbar">
		<ul class="menu menu-horizontal gap-2">
			<li><a role="button" {{ helpers::class(condition=selected == "Index", value="btn-active") }} href="/">Главная</a></li>
			<li><a role="button" {{ helpers::class(condition=selected == "Account", value="btn-active") }} href="/account">Аккаунт</a></li>
		</ul>
	</div>
{% endmacro navbar %}