{% macro input(caption, type, placeholder="", initValue="", name="", required=false, maxLength=0, id="") %}
    <div class="w-full form-control">
		<label class="label">
        	<div class="label-text">{{ caption }}</div>
		</label>
        <input
			name="{{ name }}"
			class="input input-bordered w-full"
			type="{{ type }}"
			placeholder="{{ placeholder }}"
			value="{{ initValue }}"
			{% if required %} required {% endif %}
			{% if maxLength > 0 %} maxlength={{ maxLength }} {% endif %}
			{% if id != "" %} id="{{ id }}" {% endif %}
        >
		{% if name in errors %}
			<label class="label">
			{% for error in errors[name] %}
				<div class="text-error">{{ error }}</div>
			{% endfor %}
			</label>
		{% endif %}
    </div>
{% endmacro input %}

{% macro csrf() %}
	<input type="hidden" name="csrf_token" value="{{ form.csrf_token }}">
	{% if "csrf_token" in errors %}<div class="input__error">{{ errors["csrf_token"] }}</div>{% endif %}
{% endmacro csrf %}