@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  color: hsl(210, 3%, 100%);
}

* {
  box-sizing: border-box;

  @apply border-white/10;
}

a {
  color: hsl(206, 100%, 60%);
}

a:visited {
  color: hsl(303, 100%, 60%);
}

html,
body {
  @apply m-0 p-0 text-white/90 bg-neutral-900 h-full overflow-hidden;
}

body {
  @apply flex flex-col;
}

input {
  @apply text-white/90;
}

input[type="text"] {
  @apply appearance-none bordered focus:bg-neutral-800 bg-[#101010] rounded-md py-0.5 px-3 transition-colors;
}

hr {
  @apply my-3;
}

.notice {
  @apply text-white/50 text-sm italic max-w-prose;
}

.input__container {
  @apply flex flex-col gap-1.5;
}

.input__caption {
  @apply font-bold pl-1.5 text-sm;
}

.input__error {
  @apply pl-1.5 text-sm text-red-500;
}

.bordered {
  @apply border border-white/10;
}

.button--primary {
  @apply transition-colors bg-blue-500/75 hover:bg-blue-500 bordered text-white font-bold py-1 px-4 rounded;
}

.button--good {
  @apply transition-colors bg-green-500/75 hover:bg-green-500 bordered text-white font-bold py-1 px-4 rounded;
}

.button--bad {
  @apply transition-colors bg-red-500/75 hover:bg-red-500 bordered text-white font-bold py-1 px-4 rounded;
}

.input--singleSymbol {
  @apply rounded bordered w-[3ch] h-[3ch] text-2xl font-mono text-center;
}

ul.menu li {
  cursor: pointer;
  @apply pl-2 text-white/50 my-1 py-0.5 rounded-sm hover:bg-white/5 transition-colors;
}

ul.menu li.selected {
  @apply text-white/90 bg-white/5 border-l-2 border-l-blue-500;
}

ul.menu a {
  text-decoration: none;
  color: inherit;
}

.role-circle {
  width: 0.6rem;
  height: 0.6rem;

  @apply rounded-full;
}

.role-badge {
  @apply rounded-md bg-white/5 bordered text-sm px-2 flex items-center justify-between gap-1;
}

code {
  @apply bg-black/30 rounded-sm p-0.5 px-1;
}

.navbar {
  @apply flex gap-2 w-full bg-neutral-800 bordered p-2;
}

.navbar a {
  @apply text-white/50;
}

.navbar a.selected {
  @apply text-white/90 font-bold;
}

.navbar a:hover {
  @apply text-white/90;
}